#http://snipplr.com/view/4265/
ExpiresActive On
ExpiresByType image/jpg A600
ExpiresByType image/jpeg A600
ExpiresByType image/gif A600
ExpiresByType image/png A600
ExpiresByType text/css A2592000
ExpiresByType text/html A2592000
ExpiresByType application/pdf A2592000
ExpiresByType text/x-javascript A600
ExpiresByType application/x-javascript A600
ExpiresByType application/x-shockwave-flash A2592000
ExpiresByType image/x-icon A2592000
ExpiresDefault A2592000